.wrapperCreateBoardModal {
  
  div:first-child {
    margin-bottom: 20px;
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
  }

  .accordion {
    background: white;
    color: black;
  }
}